{% extends 'psite/base.html' %}
{% load static %}

{% block content %} 

    <div class="context">

        <div class="card" style="margin-bottom: 20px;">
            
            <!-- book info -->
            {% include 'psite/partials/book/info.html' %}

            <!-- Κριτικές-Αξιολόγηση -->
            {% include 'psite/partials/book/comments.html' %}

            <!-- from same author (if any) -->
            {% if book.book_data.from_same_author %}
                {% include 'psite/partials/book/from_same_authors.html' %}
            {% endif %}

            

            <!-- Λεπτομέριες αξιολόγησης -->

        </div>

    </div>
    

{% endblock %}
