{% extends 'psite/base.html' %}
{% load static %}

{% block content %} 

<div class="container mb-4 px-0 min-height">
    <div class="row mt-2">

        <div class="col-md-12 px-0">
            
            <div class="card" style="padding: 15px;" style="min-height: 400px;">
                
                <!-- page title -->
                <div class="card-title border-bottom row">
                    <h3 class="col">{{title}}</h3>
                </div>

                <!-- items -->
                {% include 'psite/partials/browse_items.html' %}

            </div>
            
        </div> 

    </div>
</div>    
    
{% endblock %}