.logo-text {
    font-family : 'Lobster', cursive;
}

.brand-text {
    font-family : 'Lobster', cursive;
    font-size: 36px;
}

.logo-img {
    vertical-align: middle;
}

.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
  }