.logo-text {
    font-family : 'Lobster', cursive;
}

.brand-text {
    font-family : 'Lobster', cursive;
    font-size: 36px;
}

.logo-img {
    vertical-align: middle;
}

.btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
  }

  .slider-card {
      position: relative;
      border: none;
      text-align: center;
  }

  .slider-card img:hover {
      opacity: .8;
      transition: .5s;
  }

  .slider-card .card-body {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }


.slider-card img {
    width: 100px !important;
    height: 125px !important;
    display: block;
    
}

.slider-card .book-title {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    
}

.slider-card a:link, .slider-card a:active, .slider-card a:visited {
    color: black;
}


.slider-card .book-author {
    text-align: left;
    font-size: 14px;
}

.slider-card .book-authors {
    overflow: hidden;
    max-height: 25px;
    min-height: 25px;
}

.slider-card .book-title:hover, .book-authors:hover {
    max-height: 400px;
    overflow: visible;
}

.book-stars {
    text-align: left;
    margin-bottom: 5px;
}

.book-stars .on {
    color: #fed221;
}

.book-stars .off {
    color: gainsboro;
}

.hold-link {
    width: 100%;
    display: block;
}

.slider-card .book-votes {
    color: black;
    font-size: 15px;
}

.slider-card h6 {
    text-align: left;
    font-size: 14px;
}

.slider-card .badge {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

body.psite {
    background-color: cadetblue;
}

.book-details-card img {
    width: 300px !important;    
}

.book-details-card {
    padding: 15px;
}



.book-details-data {
    font-size: 14px;
    margin-top: 10px;
}

.more-data {
    padding-right: 15px;
}

.broswe-card {
    width: 200px;
}

.myhidden {
    visibility: hidden;
}

