{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 


<!-- Content Header (Page header) -->
<div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0 text-dark">Πληροφορίες βιβλίου</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Liby</a></li>
                <li class="breadcrumb-item"><a href="{% url 'books-index' %}">Βιβλία</a></li>
                <li class="breadcrumb-item active">{{book.title}}</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
        <div class="row no-gutters">
        
            <div class="card col-md-12" style="width: 18rem;">
                <div class="card-header bg-primary"><h5>{{book.title}}</h5></div>
                <div class="card-body">
                    <div class="row">
                        
                        <!-- sidebar -->
                        <div class="col-md-3">
                            {% include 'mainapp/books/partials/details/sidebar.html' %}
                        </div>

                        <!-- tabs -->
                        <div class="col-md-9">
                            {% include 'mainapp/books/partials/details/tabs.html' %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
       
    
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}



{% block script %}

<script>

function deleteBook(title) {
    
    alertify.confirm(
        "Διαγραφή Βιβλίου",
        "Να διαγραφεί το βιβλίο με τίτλο '" + title + "'?", 
        function() {
            $('#delete-book-form').submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}

// delete entry
function deleteEntry(entry_id) {
    
    alertify.confirm(
        "Διαγραφή αντιτύπου",
        "Να διαγραφεί το επιλεγμένο αντίτυπο βιβλίου?", 
        function() {
            $('#delete-entry-' + entry_id).submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}

// delete hold
function deleteHold(hold_id) {
    
    alertify.confirm(
        "Διαγραφή κράτησης",
        "Να διαγραφεί η επιλεγμένη κράτηση?", 
        function() {
            $('#delete-hold-' + hold_id).submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}

// delete hold
function deleteLend(lend_id) {
    
    alertify.confirm(
        "Διαγραφή δανεισμού",
        "Να διαγραφεί ο επιλεγμένος δανεισμός?", 
        function() {
            $('#delete-lend-' + lend_id).submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}

// delete comment
function deleteComment(comment_id) {
    
    alertify.confirm(
        "Διαγραφή Κριτικής",
        "Να διαγραφεί η επιλεγμένη κριτική?", 
        function() {
            $('#delete-comment-' + comment_id).submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}
    
$(document).ready(function() {

    setDatatable($('#hold-table'), 
        [
            {
                "targets": 6,
                "searchable": false,
                "orderable": false
            }
        ],
        [
            [0,'desc'],
            [1,'desc']
        ]
    ); 

    setDatatable($('#lend-table'), 
        [
            {
                "targets": 7,
                "searchable": false,
                "orderable": false
            }
        ],
        [
            [2,'desc'],
        ]
    ); 

    setDatatable($('#comment-table'), 
        [
            {
                "targets": 4,
                "searchable": false,
                "orderable": false
            }
        ],
        [
            [0,'desc'],
        ]
    ); 

    setDatatable($('#entry-table'), 
        [
            {
                "targets": 4,
                "searchable": false,
                "orderable": false
            }
        ],
        [
            [0,'desc'],
        ]
    ); 



    $('#menu-books').addClass('menu-open'); 
    $('#menu-books .nav-link:first').addClass('active'); 
    // $('#menu-books-create .nav-link:first').addClass('active'); 
});

</script>


{% endblock %}








