venv/
.vscode/
.idea/
.vs/
liby/__pycache__/

mainapp/__pycache__/
mainapp/migrations/__pycache__/

psite/__pycache__/
psite/migrations/__pycache__/

users/__pycache__/
users/migrations/__pycache__/

api/__pycache__/
api/migrations/__pycache__/


mysql.conf
liby.sock
db.sqlite3

