{% load static %}


<div class="card slider-card">
    <a href="{% url 'psite-book' book.id %}"><img  src="{{book.image.url}}" alt="Βιβλίο" class="card-img-top"></a>
    <div class="card-body">
        <div class="book-title">
            <a href="{% url 'psite-book' book.id %}">{{book.title}}</a>
        </div>
        <div class="book-authors">
            {% for author in book.authors.all %}
                <div class="book-author">
                    <a href="{% url 'psite-author' author.id %}">
                        {{author.author_name}}
                    </a>
                </div>
            {% endfor %}
        </div>
                
        <div class="book-stars">
            {% include 'psite/partials/book/stars.html' %}
            <span class="book-votes ml-1">({{book.book_data.num_comments}})</span>
        </div>
        {% if entry_date %}
            <h6 class="text-info">Πραλαβή: {{book.created_at|date:'d/m/Y'}}</h6>
        {% endif %}
        {% if total_lends %}
            <h6 class="text-info">Σύνολο δανεισμών: {{book.book_data.total_lends}}</h6>
        {% endif %}
        <h6 class="text-muted">Αντίτυπα: {{book.book_data.num_entries}}</h6>
        <h6 class="text-muted">Δανεισμένα: {{book.book_data.active_lends}}</h6>
        <h6 class="text-muted">Κρατήσεις: {{book.book_data.active_holds}}</h6>
        {% if book.book_data.status == 1 %}
            <div class="badge badge-success">Διαθέσιμο</div>    
        {% elif book.book_data.status == 2 %}
            <div class="badge badge-warning">Δεσμευμένο</div>
        {% else %}
            <div class="badge badge-danger">Μη διαθέσιμο</div>
        {% endif%}
        <a href="#" class="btn btn-outline-primary btn-sm hold-link">Κράτηση</a>
        
    </div>
</div>