<div class="row no-gutters book-details-card">
    
    <div class="col-auto">
        <img src="{{book.image.url}}" class="img-fluid" alt="Εξώφυλλο">
        <div class="book-details-data text-muted">
            <div><span class="font-weight-bold">ISBN: </span>{{book.isbn}}</div>
            <div><span class="font-weight-bold">Σελίδες: </span>{{book.pages}}</div>
            <div><span class="font-weight-bold">Διαστάσεις: </span>{{book.dimensions}}</div>
            <div><span class="font-weight-bold">Βάρος: </span>{{book.weight}} γρ.</div>

            <div class="mt-3"><span class="font-weight-bold">Σύνολο δανεισμών: </span>{{book.book_data.total_lends}}</div>
            <div><span class="font-weight-bold">Αντίτυπα: </span>{{book.book_data.num_entries}}</div>
            <div><span class="font-weight-bold">Δανεισμένα: </span>{{book.book_data.active_lends}}</div>
            <div><span class="font-weight-bold">Κρατήσεις: </span>{{book.book_data.active_holds}}</div>

            <div>
                <a href="{% url 'psite:hold-book' book.id %}" class="btn btn-primary mt-3 hold-link">Κράτηση</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card-block px-4">
            <div class="card-title border-bottom pb-2">
                <h3>{{book.title}}</h3>
                {% if book.revision > 1 %}
                    <h5>({{book.revision}}η έκδοση)</h4>
                {% endif %}
            </div>
            <div class="book-stars">
                {% include 'psite/partials/book/stars.html' with star_list=book.book_data.star_list %}
                <span class="text-muted">
                    {{book.book_data.grade}}
                    ({{book.book_data.num_comments}} κριτικές)
                </span>
            </div>
            <div>
                <span class="font-weight-bold">Γλώσσα: </span>{{book.language.description}}
            </div>
            <div class="book-author">
                {% if book.authors.count > 1%}
                    <span class="font-weight-bold">Συγγραφείς: </span>
                {% else %}
                    <span class="font-weight-bold">Συγγραφέας: </span>
                {% endif %}
                {% for author in book.authors.all %}
                    <a href="{% url 'psite:author' author.id %}">{{author.author_name}}</a> 
                {% endfor %}
            </div>
            <div class="book-publisher">
                <span class="font-weight-bold">Εκδότης: </span>
                <a href="{% url 'psite:publisher' book.publisher_id %}">{{book.publisher.pub_name}}</a>
            </div>
            <div class="book-published">
                <span class="font-weight-bold">Ημ/νία έκδοσης: </span>
                {{book.published_month_desc}} {{book.published_year}}
            </div>
            <div class="book-published">
                <span class="font-weight-bold">Χώρα: </span>
                {{book.publisher.country.description}}
            </div>
            <div class="book-categories">
                {% if book.categories.count > 1%}
                    <span class="font-weight-bold">Κατηγορίες: </span>
                {% else %}
                    <span class="font-weight-bold">Κατηγορία: </span>
                {% endif %}
                {% for category in book.categories.all %}
                    <a href="{% url 'psite:category' category.id %}">{{category.description}}</a> 
                {% endfor %}
            </div>
            <p class="card-text">{{book.abstract|linebreaks}}</p>
        </div>
    </div>
</div>


    
