<div class="book-stars">
            
    <!-- 5 stars -->
    <div class="row align-items-center no-gutters">
        <div class=col-auto>
            5 <i class="fa fa-star on"></i>
        </div> 
        <div class="col px-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-auto">
            15%
        </div>
    </div>

    <!-- 4 stars -->
    <div class="row align-items-center no-gutters">
        <div class=col-auto>
            4 <i class="fa fa-star on"></i>
        </div> 
        <div class="col px-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-auto">
            15%
        </div>
    </div>
    
    <!-- 3 stars -->
    <div class="row align-items-center no-gutters">
        <div class=col-auto>
            3 <i class="fa fa-star on"></i>
        </div> 
        <div class="col px-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-auto">
            15%
        </div>
    </div>
    
    <!-- 2 stars -->
    <div class="row align-items-center no-gutters">
        <div class=col-auto>
            2 <i class="fa fa-star on"></i>
        </div> 
        <div class="col px-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-auto">
            15%
        </div>
    </div>
    
    <!-- 1 stars -->
    <div class="row align-items-center no-gutters">
        <div class=col-auto>
            1 <i class="fa fa-star on"></i>
        </div> 
        <div class="col px-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="col-auto">
            15%
        </div>
    </div>

</div>