<div class="row mt-4 mb-4">

    <div class="col-md-12">
        
        <div class="card" style="padding: 10px;">
            <div class="card-title border-bottom"><h3 class="text-primary">Προτιμήσεις αναγνωστών</h3></div>
            <div class="owl-carousel owl-theme">
                {% for b in best_choices %}
                    {% include 'psite/partials/book_card.html' with book=b.book total_lends=1 %}
                {% endfor %}
            </div>
        </div>
        
    </div> 

</div>


    