{% load static %}


<div class="card slider-card">
    <a href="#"><img  src="{{book.image.url}}" alt="Βιβλίο" class="card-img-top"></a>
    <div class="card-body">
        <div class="book-title">
            <a href="#">{{book.title}}</a>
        </div>
        <div class="book-authors">
            {% for author in book.authors.all %}
                <div class="book-author">
                    <a href="#">
                        {{author.author_name}}
                    </a>
                </div>
            {% endfor %}
        </div>
                
        <div class="book-stars">
            {% for i in book.book_data.stars %}
                {% if i == 1 %}
                    <i class="on fa fa-star"></i>
                {% elif i == 2 %}
                    <i class="on fa fa-star-half"></i>
                {% else %}    
                    <i class="off fa fa-star"></i>
                {% endif %}
            {% endfor%}
            <span class="book-votes ml-1">({{book.book_data.num_comments}})</span>
        </div>
        <h6 class="text-muted">Αντύτυπα: {{book.book_data.num_entries}}</h6>
        <h6 class="text-muted">Κρατήσεις: {{book.book_data.active_holds}}</h6>
        {% if book.book_data.is_available %}
            <div class="badge badge-success">Διαθέσιμο</div>    
        {% else %}
            <div class="badge badge-danger">Δανεισμένο</div>
        {% endif%}
        <a href="#" class="btn btn-outline-primary btn-sm hold-link">Κράτηση</a>
        
    </div>
</div>