<div class="row mt-4 mb-4">

        <div class="col-md-12">
            
            <div class="card" style="padding: 10px;">
                <h4 class="card-title">
                    {% if book.authors.count == 1%}
                        Από τον ίδιο συγγραφέα
                    {% else %}
                        Από τους ίδιους συγγραφείς
                    {% endif%}
                </h4>
                <div class="owl-carousel owl-theme">
                    
                </div>
            </div>
            
        </div> 
    
    </div>