{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">


        <!-- brand -->
        <img src="{% static 'img/logo60.png' %}" class="d-inline-block align-top" alt="">
        <a class="navbar-brand brand-text pl-2" href="{%url 'psite:home' %}">Liby</a>

        <!-- Toggle visibility buuton -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline ml-auto" method="get" action="{% url 'psite:search' %}" id="search-form">
            <div class="input-group">
                <select style="width: 150px;" name="search-target" id="search-target" class="form-control">
                    <option value="1">Τίτλος</option>
                    <option value="2">Περίληψη</option>
                    <option value="3">Συγγραφέας</option>
                    <option value="4">ISBN</option>
                    <option value="5">Οπουδήποτε</option>
                </select>
                <input name="search-text" id="search-text" style="width: 310px;" class="form-control mr-sm-2" type="search" placeholder="Αναζήτηση" aria-label="Αναζήτηση βιβλίων">
            </div>
            <!-- <input name="search-text" id="search-text" style="width: 350px;" class="form-control mr-2" type="search" placeholder="Τίτλος, περιγραφή, συγγραφέας ή ISBN" aria-label="Αναζήτηση βιβλίων">                         -->
            <button class="btn btn-success my-2" onclick="event.preventDefault();submitSearch()">Αναζήτηση</button>
            <!-- <button class="btn btn-outline-success my-2 ml-2" onclick="event.preventDefault()">Σύνθετη αναζήτηση</button> -->
        </form>
    
        
        <!-- left aligned links -->
        <ul class="navbar-nav ml-auto">
            
            {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        {{user.username}}
                        {% if user.is_superuser %}
                            (Διαχειριστής)
                        {% else %}
                            (Απλός χρήστης)
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user-dropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user"></i> Προφίλ χρήστη</a>
                        <a class="dropdown-item" href="{% url 'users:change-password' %}"><i class="fa fa-key"></i> Αλλαγή συνθηματικού</a>
                        <a class="dropdown-item" href="{% url 'users:hold-list' %}"><i class="fa fa-bell"></i> Οι κρατήσεις μου</a>
                        <a class="dropdown-item" href="{% url 'users:lend-history' %}"><i class="fa fa-anchor"></i> Ιστορικό δανεισμών</a>
                        {% if user.is_superuser %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Διαχείριση</a>
                            <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa fa-cog"></i> Django admin</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-in"></i> Αποσύνδεση</a>
                    </div>
                </li>

            {% else %}

                <!-- Σύνδεση -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Σύνδεση</a>
                </li>

                <!-- Εγγραφή -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Εγγραφή</a>
                </li>

            {% endif %}

            

        </ul>

    </div>

</nav>

