<div class="row mt-4">
    
    <div class="col-md-12 text-left text-primary">
        <h2>Κορυφαίοι Τίτλοι</h2>
    </div>

</div>

<div class="row mt-2">

    <div class="col-md-12">
        <div class="owl-carousel owl-theme">
            
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            <div>{% include 'psite/partials/book_card.html' %}</div>
            
                
        </div>
    </div> 

</div>