{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %} 


<!-- Content Header (Page header) -->
<div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0 text-dark">Γλώσσες</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Liby</a></li>
                <li class="breadcrumb-item"><a href="{% url 'books-index' %}">Βιβλία</a></li>
                <li class="breadcrumb-item active">Γλώσσες</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="card">
            
            <div class="card-header">
                <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'language-create' %}" class="btn btn-outline-success btn-sm" >
                                <i class="fa fa-plus"></i> Προσθήκη Γλώσσας
                            </a>
                        </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered table-hover" id="language-table">
                    <thead>
                        <tr>
                            <th>Περιγραφή Γλώσσας</th>
                            <th>Βιβλία</th>
                            <th>Ενημέρωση</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lang in langs %}
                            <tr>
                                <td>{{lang.description}}</td>
                                <td>0</td>
                                <td>{{lang.updated_at|date:'d/m/Y, H:i'}}</td>
                                <td>
                                        <!-- Επεξεργασία -->
                                        <a href="{% url 'language-update' lang.id %}", title="Επεξεργασία", class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil"></i></a>
                                        
                                        <!-- Διαγραφή -->
                                        <form id="delete-language-{{lang.id}}" method="POST" action="{% url 'language-delete' lang.id %}" style="display: none;">
                                            {% csrf_token %}
                                        </form>
                                        <button class="btn btn-outline-danger btn-sm" onclick="deleteLanguage('{{lang.id}}', '{{lang.description}}')">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}



{% block script %}

<script>

function deleteLanguage(id, description) {
    
    alertify.confirm(
        "Διαγραφή Γλώσσας",
        "Να διαγραφεί η γλώσσα '" + description + "'?", 
        function() {
            $('#delete-language-' + id).submit();
            //alertify.success("Επιτυχής διαγραφή!")
        },
        function() {
            //alertify.error("Ακύρωση διαγραφής")
        }
    );
    
}

$(document).ready(function() {
    
    setDatatable($('#language-table'), [
        {
            "targets": 3,
            "searchable": false,
            "orderable": false
        }
    ]);
    
    $('#menu-books').addClass('menu-open'); 
    $('#menu-books .nav-link:first').addClass('active'); 
    $('#menu-books-languages .nav-link:first').addClass('active'); 


});

</script>


{% endblock %}








