{% extends 'mainapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %} 


<!-- Content Header (Page header) -->
<div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0 text-dark">Αλλαγή κωδικού χρήστη</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Liby</a></li>
                <li class="breadcrumb-item"><a href="{% url 'user-list' %}">Χρήστες</a></li>
                <li class="breadcrumb-item active">Αλλαγή Κωδικού</li>
            </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body bg-light">
                    <div class="container">
                        <dl class="row">
                            <dt class="col-md-3">Όνομα χρήστη:</dt>
                            <dd class="col-md-9">{{instance.username}}</dd>
                            <dt class="col-md-3">Email:</dt>
                            <dd class="col-md-9">{{instance.email}}</dd>
                            <dt class="col-md-3">Επώνυμο:</dt>
                            <dd class="col-md-9">{{instance.last_name}}</dd>
                            <dt class="col-md-3">Όνομα:</dt>
                            <dd class="col-md-9">{{instance.first_name}}</dd>
                        </dl>
                    </div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">Καταχώρηση</button>
                        <a href="{% url 'user-list' %}" class="btn btn-outline-info">Επιστροφή</a>
                    </div>

                </form>
            </div>
        </div>
    
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}



{% block script %}

<script>

$(document).ready(function() {

    $('#menu-users').addClass('menu-open'); 
    $('#menu-users .nav-link:first').addClass('active'); 
    //$('#menu-users-create .nav-link:first').addClass('active'); 

});

</script>

{% endblock %}








