<div class="row pb-3">
    <div class="col-md-6">
        <h3 class="pb-3">Δανεισμοί</h3>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn btn-success btn-sm float-right">Νέα κριτική</a>
    </div>
</div>

<table class="table table-bordered table-hover" id="comment-table">
        <thead>
            <tr>
                <th>Ενημέρωση</th>
                <th>Χρήστης</th>
                <th>Αστέρια</th>
                <th>Κριτική</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
            {% for comment in book.comment_set.all %}
                <tr>
                    <td>{{comment.updated_at|date:'d/m/Y'}}</td>
                    <td>{{comment.user.username}}</td>
                    <td>{{comment.stars}}</td>
                    <td>{{comment.body}}</td>
                    <td>
                        <!-- Επεξεργασία -->
                        <a href="#", title="Επεξεργασία", class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil"></i></a>
                        
                        <!-- Διαγραφή -->
                        <form id="delete-comment-{{comment.id}}" method="POST" action="#" style="display: none;">
                            {% csrf_token %}
                        </form>
                        <button title="Διαγραφή" class="btn btn-outline-danger btn-sm" onclick="deleteComment('{{comment.id}}')">
                            <i class="fa fa-trash"></i>
                        </button>

                    </td>
                </tr>
            {% endfor %}
         
        </tbody>
    </table>