<div class="row pb-3">
    <div class="col-md-6">
        <h3 class="pb-3">Δανεισμοί</h3>
    </div>
    <div class="col-md-6">
        <a href="{% url 'books-new-lend' book.id %}" class="btn btn-success btn-sm float-right">Νέος δανεισμός</a>
    </div>
</div>

<table class="table table-bordered table-hover" id="lend-table">
        <thead>
            <tr>
                <th>Χρήστης</th>
                <th>Αντίτυπο</th>
                <th>Δανεισμός</th>
                <th>Διάρκεια</th>
                <th>Προθεσμία</th>
                <th>Κατάσταση</th>
                <th>Επιστροφή</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in book.entry_set.all %}
                {% for lend in entry.lend_set.all %}
                    <tr>
                        <td>{{lend.user.username}}</td>
                        <td>{{lend.entry.id}}</td>
                        <td>{{lend.lend_date|date:'d/m/Y'}}</td>
                        <td>{{lend.lend_days}}</td>
                        <td>{{lend.deadline|date:'d/m/Y'}}</td>
                        <td><span class="{{lend.status_css}}">{{lend.status_desc}}</span></td>
                        <td>{{lend.return_date|date:'d/m/Y'}}</td>
                        <td>
                            <!-- Επεξεργασία -->
                            <a href="{% url 'lends-update' lend.id %}", title="Επεξεργασία", class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil"></i></a>
                            
                            <!-- Διαγραφή -->
                            <form id="delete-lend-{{lend.id}}" method="POST" action="{% url 'lends-delete' lend.id %}" style="display: none;">
                                {% csrf_token %}
                            </form>
                            <button title="Διαγραφή" class="btn btn-outline-danger btn-sm" onclick="deleteLend('{{lend.id}}')">
                                <i class="fa fa-trash"></i>
                            </button>
    
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>